<!DOCTYPE html>
<html>
        <head>
                <title>Support Stats</title>
                <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <link rel="stylesheet" type='text/css' href="./css/style.css">
                <meta http-equiv="refresh" content="14">


        </head>
        <body>
            {{{body}}}



                <div class='sidebar'>
                        <p class='title'>Support Stats</p>
                        <p class ='date' id ='demo'>{{month}}</p>
                        <table class="tg">
                                  <tr class='blue'>
                                    <th class="tg-baqh">Support Hours</th>
                                  </tr>
                                  <tr class='mid'>
                                    <td class="tg-yw4l"></td>
                                  </tr>
                                  <tr class='mid'>
                                    <td class="tg-widv">Monday-Friday</td>
                                  </tr>
                                  <tr class='light'>
                                    <td class="tg-yw4l"><b>UTC</b>&nbsp;&nbsp;&nbsp;&nbsp;06:00 - 22:00</td>
                                  </tr>
                                  <tr class='dark'>
                                    <td class="tg-yw4l"><b>BST</b>&nbsp;&nbsp;&nbsp;&nbsp;07:00 - 23:00</td>
                                  </tr>
                                  <tr class='light'>
                                    <td class="tg-yw4l"><b>CET</b>&nbsp;&nbsp;&nbsp;&nbsp;08:00 - 00:00</td>
                                  </tr>
                                  <tr class='dark'>
                                    <td class="tg-yw4l"><b>CT</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;01:00 - 18:00</td>
                                  </tr>
                                  <tr class='light'>
                                    <td class="tg-yw4l"><b>SGT</b>&nbsp;&nbsp;&nbsp;&nbsp;14:00 - 06:00</td>
                                  </tr>
                                  <tr class='dark'>
                                    <td class="tg-yw4l"><b>PT</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;23:00 - 16:00</td>
                                  </tr>
                                  <tr class='mid'>
                                    <td class="tg-yw4l"></td>
                                  </tr>
                                  <tr  class='light'>
                                    <td class="tg-yw4l"><b>Tel UK:</b> +44 1273 234 290</td>
                                  </tr>
                                  <tr class='dark'>
                                    <td class="tg-yw4l"><b>Tel US:</b> +1 646 453 6686</td>
                                  </tr>
                        </table>
                                <div class='brand'>
                                	<img class = 'logo' src ='http://2014.jsconf.eu/sponsors/images/brandwatch.png'>
                                        <p class='info'>
                                                #nowyouknow
                                        </p>

                                </div>
                </div>



                <div class='footer'>
                        <span class='mark'> KNOWN ISSUES: Please check #platform-health for updates  -- </span>
                </div>



                <!--
                <script>
                var d = new Date();
                var months = ["December","January","February","March","April","May","June","July","August","September","October","November"];
                document.getElementById("demo").innerHTML = months[d.getMonth()];
                </script> -->
        </body>
</html>
